# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

"atom-workspace":
  "alt-b": "tortoise-svn:blameFromTreeView"
  "alt-c": "tortoise-svn:commitFromTreeView"
  "alt-d": "tortoise-svn:diffFromTreeView"
  "alt-l": "tortoise-svn:logFromTreeView"
  "alt-r": "tortoise-svn:revertFromTreeView"
  "alt-u": "tortoise-svn:updateFromTreeView"
